In [1]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from models import (get_RF, get_DT, get_knn, get_SVC, get_GBC, get_MLP, run_classifier)
from helper_functions import (get_cv_performance_metrics, hr,\
     get_sampler, plot_confusion_matrices, plot_roc)
import pickle
from sklearn.feature_selection import mutual_info_classif, GenericUnivariateSelect

In [39]:
headers = ["duration", "wage increase first year", "wage increase second year", "wage increase third year",\
           "cost of living adjustment", "working hours", "pension", "standby pay", "shift differential",\
           "education allowance", "statutory holidays", "vacation", "longterm disability assistance",\
           "contribution to dental plan", "bereavement assistance", "contribution to health plan", 'negotiations']

In [40]:
train_labor_data = pd.read_csv('data/labor-neg.data', header=None, names=headers, na_values = "?")

In [41]:
train_labor_data.head()

,duration,wage increase first year,wage increase second year,wage increase third year,cost of living adjustment,working hours,pension,standby pay,shift differential,education allowance,statutory holidays,vacation,longterm disability assistance,contribution to dental plan,bereavement assistance,contribution to health plan,negotiations
0,1.0,5.0,NaN,NaN,NaN,40.0,NaN,NaN,2.0,NaN,11.0,average,NaN,NaN,yes,NaN,good
1,2.0,4.5,5.8,NaN,NaN,35.0,ret_allw,NaN,NaN,yes,11.0,below average,NaN,full,NaN,full,good
2,NaN,NaN,NaN,NaN,NaN,38.0,empl_contr,NaN,5.0,NaN,11.0,generous,yes,half,yes,half,good
3,3.0,3.7,4.0,5.0,tc,NaN,NaN,NaN,NaN,yes,NaN,NaN,NaN,NaN,yes,NaN,good
4,3.0,4.5,4.5,5.0,NaN,40.0,NaN,NaN,NaN,NaN,12.0,average,NaN,half,yes,half,good

In [44]:
test_labor_data = pd.read_csv('data/labor-neg.test', header=None, names=headers, na_values="?")

In [45]:
test_labor_data.head()

,duration,wage increase first year,wage increase second year,wage increase third year,cost of living adjustment,working hours,pension,standby pay,shift differential,education allowance,statutory holidays,vacation,longterm disability assistance,contribution to dental plan,bereavement assistance,contribution to health plan,negotiations
0,1,4.0,NaN,NaN,none,NaN,none,NaN,NaN,yes,11.0,average,no,none,no,none,bad
1,2,2.0,3.0,NaN,none,38.0,empl_contr,NaN,NaN,yes,12.0,generous,yes,none,yes,full,bad
2,2,2.5,2.5,NaN,tc,39.0,empl_contr,NaN,NaN,NaN,12.0,average,NaN,NaN,yes,NaN,bad
3,2,2.5,3.0,NaN,tcf,40.0,none,NaN,NaN,NaN,11.0,below average,NaN,NaN,yes,NaN,bad
4,2,4.0,4.0,NaN,none,40.0,none,NaN,3.0,NaN,10.0,below average,no,none,NaN,none,bad

Let us handle the Null values now

In [48]:
train_labor_data['wage increase third year']..isna().sum()()

<class 'pandas.core.series.Series'>
RangeIndex: 40 entries, 0 to 39
Series name: wage increase third year
Non-Null Count  Dtype
--------------  -----
12 non-null     float64
dtypes: float64(1)
memory usage: 448.0 bytes